@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0099ff;
  --secondary: #FF9228;
  --background: #ebeef3;
  --danger: #f45f4c;
  --color: #121212;
  --white: #f8fbff;
  --black: #090909;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --color: #f2f6f8;
  }
}

body {
  color: var(--color);
  background: var(--background)
}



input:focus,
a:focus,
button:focus,
textarea:focus {
  outline-offset: .2rem;
  outline: solid 1.5px var(--secondary);
  accent-color: var(--primary);
}

input,
textarea {
  background: var(--background);
  backdrop-filter: blur(4px);
  color: var(--text);
  border: 1px solid var(--primary);
}

input:disabled,
textarea:disabled {
  background: var(--bg);
  border: 1px solid var(--text);
  color: var(--text);
}

canvas,
.react-pdf__Page {
  position: relative;
  width: 100% !important;
  height: inherit !important;
}

.react-pdf__Page__textContent {
  display: none !important;
}

.react-pdf__Page__annotations {
  display: none !important;
}


.toast_container {
  margin-top: 5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
}